@use "../variables" as *;

nav.header {
    max-width: space("xxxxl", 19);
    margin: 0 auto;
    padding: space("sm") space("sm");

    display: flex;

    .logo {
        height: space("lg");

        img {
            transition: $transition-medium all;
            pointer-events: none;
            padding: space("xxs") 0;
            width: auto;
            height: 100%;
        }

        &:hover {
            /* ##BA4B4B Red Contrast of 4.54 */
            img {
                filter: brightness(84%);
            }
        }
    }

    .nav-links {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        margin-top: auto;
        line-height: 0;
        //SR 605px and the TSR is 714px = 84.73
        height: space("lg") * 0.8473;

        a {
            font-weight: 700;
            margin-left: space("xl");
            line-height: $line-lg;
            text-decoration: none;
            color: col($black, 300);
            display: inline-block;

            padding: space("xxxs", 3) 0;
        }
    }
}
