@use "../variables"as *;

.nav-container {
    font-family: "Fira Sans";
    width: 100%;
    padding: 0 space("lg");
    background: col($brand, 25);

    //Reveals horizontal divider on small screens
    border-bottom: 1px solid transparent;

    @include breakpoint("md") {
        border-bottom: 1px solid $black;
    }
}

nav {
    display: flex;
    max-width: space("xxxxl", 18);
    margin: 0 auto;

    //To keep skip button relative to navbar
    position: relative;

    //Includes logo
    .nav-link {
        padding: 0 space("xxxs", 3);
    }

    //Skip link
    .skip-link {
        background: col($brand, 25);
        color: col($black, 400);
        position: absolute;
        padding: space("sm") space("lg");
        z-index: 2;
        top: 0;
        //The same as the padding for .nav-link
        left: space("xxxs", 3);
        transform: translateY(-100%);

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            transform: translateY(0%);
        }
    }

    //Primary Nav
    &.primary {

        padding: space("sm") 0;

        /* Hides horizontal divider on small screens */
        border-bottom: 1px solid $black;

        @include breakpoint("md") {
            border-bottom: 1px solid transparent;
        }

        .logo {
            height: space("lg");

            img {
                transition: $transition-medium all;
                //So the link is draggable with the text
                pointer-events: none;
                //This is the same padding as the links
                padding: space("xxxs", 2) 0;
            }

            &:hover img {
                /* ##BA4B4B Red Contrast of 4.54 */
                filter: brightness(84%);
            }
        }

        .nav-links {

            margin-top: auto;
            //SR 605px and the TSR is 714px = 84.73
            max-height: space("lg") * 0.8473;

            a {
                margin-left: space("xl");
            }
        }
    }

    //Secondary Nav
    &.secondary {

        /* 
        xs (secondary padding) + 
        xs (a link margin) 
        = sm (the padding on primary).
        This is to accomodate the vertical divider 
        */
        padding: space("xs") 0;

        .nav-links {
            a {
                margin: space("xs") 0 space("xs") space("xl");
            }
        }

        @include breakpoint("md") {
            display: none;
        }

        //Vertical divider
        .link-divider {
            height: 100%;
            border-right: 1px solid $black;
            margin-left: space("xl");
        }
    }

    //Determines link positioning
    .nav-links {
        display: flex;

        .nav-link {
            text-decoration: none;
            color: col($black, 400);
            display: inline-block;
        }

        @include breakpoint("md") {
            display: none;
        }

        //Right links float to the right
        &.right {
            margin-left: auto;
        }

        //Left links are aligned to left
        &.left {
            a:nth-of-type(1) {
                margin-left: 0;
            }
        }
    }
}