@use "variables" as *;

/* Links */
a {
	display: flex;
	transition: $transition-medium all;
	outline: none;
	position: relative;

	&:not(.logo):hover {
		box-shadow: inset 0 -1px 0 0 $black;
	}

	/* 
	Adding a border to psuedo :after which is wider.
	This means the outer div ican be narrower.
	*/
	&:after {
		transition: $transition-medium all;
		content: "";
		height: 100%;
		display: block;
		position: absolute;
		width: calc(100% + #{2 * space("xxxs", 3)});
		padding: 0 space("xxxs", 3);
		border: 2px solid rgba(0, 0, 0, 0);
		border-radius: 3px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	/* Activates :after border */
	&:focus,
	&:active {
		&:after {
			border: 2px solid $purple;
		}
	}
}
