@use "variables"as *;

/* Links */
a {
    display: flex;
    transition: $transition-medium all;
    outline: none;
    position: relative;

    /* 
	Adding a border to psuedo :after which is wider.
	This means the outer div ican be narrower.
	*/
    &:after {
        transition: $transition-medium all;
        content: "";
        height: calc(100% + #{2 * space("xxxs", 2)});
        display: block;
        position: absolute;
        width: calc(100% + #{2 * space("xxxs", 3)});
        padding: space("xxxs", 2) space("xxxs", 3);
        border: 2px solid transparent;
        border-radius: 3px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    /* Activates :after border */
    &:focus,
    &:active {
        &:after {
            border: 2px solid $navy;
        }
    }

    &:before {
        transition: $transition-medium all;
        content: "";
        height: calc(100% + #{2 * space("xxxs", 2)});
        display: block;
        position: absolute;
        width: 100%;
        padding: space("xxxs", 2) 0;
        border: 2px solid transparent;
        border-radius: 3px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &:not(.logo, .skip-link):hover {
        &:before {
            border-bottom: 1px solid $black;
        }
    }
}