@use "sass:meta";
@use "type";
@use "variables";
@use "html";

/* Components */
@use "components/nav";

/* Reset */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
